# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* Create a table
* Write some arithmethic expressions

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib


|Data Science Tools|
|-------------------|
|Jupiter|
|Rstudio|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200/6

33.333333333333336

## Author
Mariana de Miguel Cervantes